*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(to left, #ff7171, #8ea4e7);
}
h1{
    text-align: center;
    color: #fff;
}
div.container{
    width: 100%;
    height: 100vh;
    padding: 10px 50px;            
}
h2{
    margin: 15px;
    color: #fff;
}
img{
    width: 70%;
    margin: auto;
    display: block;
}
div.child{
    max-width: 65%;
    margin: auto;
}
p{
    margin:30px 0px;
    font-size: 1.4em;
    color: #fff;
}